.cBodyBackground{
	background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
body{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.cMainBody{
	background-position: center;
	margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: #976297;
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	padding: 15px;
	margin: 10px;
	border: 1px solid black; /* ****Place Holder...**** */
}
label{ /* Set up the display information for the different answers */
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.cTimerBox{
	padding: 15px;
	margin: 10px;
	border: 1px solid black; /* ****Place Holder...**** */
}
.cQuestionBox{
	padding: 15px;
	margin: 10px;
	border: 1px solid black; /* ****Place Holder...**** */
}
.cUserAnswerBox{
	margin-right: auto;
	margin-left: auto;
	width: auto; /* Set a width if you like */
	border: 1px solid black; /* ****Place Holder...**** */
	padding: 1px;
}
.cUserAnswerBox label{
	background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    font-size: 12pt;
}
.cUserAnswerBox label:hover{
	background-color: #ccc; /* adjust the color when mosed over*/
}
.cUserAnswerBox label:active{
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

    									/* Game over CSS starts here */ 
.cInfoDisplay{
	text-decoration: underline;
	padding: 15px;
	margin: 10px;
	border: 1px solid black; /* ****Place Holder...**** */
	font-size: 20pt;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.cGameResults{
	margin-right: auto;
	margin-left: auto;
	width: auto; /* Set a width if you like */
	border: 1px solid black; /* ****Place Holder...**** */
	padding: 1px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.cGameResults label{
	background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    font-size: 12pt;
}
.cGameResultsStats{
	font-weight: bold;
}
.iCorrectCount{
	font-weight: normal;
}